<div class="three-cols-layout-columns"
     ng-controller="camLayoutCtrl">

  <!-- # task column -->
  <section class="column column-right task-details"
           ng-controller="camTaskActionCtrl">
    <header class="three-cols-layout-cell top">
      <button ng-click="toggleRegion($event)"
              data-region="task"
              class="region-toggle btn btn-link">
        <span class="glyphicon"></span>
      </button>

      <button ng-click="maximizeRegion($event)"
              data-region="task"
              class="btn btn-link maximize">
        <span class="glyphicon glyphicon-resize-full"></span>
      </button>

      <button ng-click="resetRegions($event)"
              class="btn btn-link reset-regions">
        <span class="glyphicon glyphicon-resize-small"></span>
      </button>

      <div class="task-actions"
           ng-show="task"
           ng-repeat="taskAction in taskActions">
        <view provider="taskAction" vars="taskVars">
      </div>
    </header>

    <div class="three-cols-layout-cell content">
      <div cam-tasklist-task
           tasklist-data="tasklistData"></div>
    </div>
  </section>
  <!-- # task column -->

</div>
